/*cor de fundo */
body {
    background-color: #a19a9a; /* Um tom claro de cinza */
}

/* Definida a fonte */
p {
    font-family: Helvetica,sans-serif; /* Tipos de fonte */
    font-size: 16px; /* Tamanho da fonte */
    text-indent: 1em; /* Recuo da primeira linha */
    color: #000000; /* Cor do texto */
}


h1,h2,h3 {
    text-align: right;
}
h1 {
    font-size: 1.8rem; /* Tamanho da fonte Titulo h1*/
}

h2 {
    font-size: 1.4rem; /* Tamanho da fonte Titulo h2 */
}

h3 {
    font-size: 1.2rem; /* Tamanho da fonte Titulo h3 */
}

.sumary { text-align: center;}

.main.p{line-height: 1.5}

a {
    color: #48ff00; /*cor de destaque */
}

abbr {
    font-variant: small-caps;
}
