/*cor de fundo */
body {
    background-color: #ffffff; 
}

.page-wrapper{
    width: 80%;
    max-width: 1280px;
    margin: auto;
}

#zen-intro{
    height: 550px;
}

#design-archives {
    display: none; /* Remove o container da renderização */
  }

#zen-intro header {
    background-color: #000000;
    color: #ffffff;
    
}

#zen-intro header h1, #zen-intro header h2 {
   display: inline-block;

}
#zen-intro header h1 {
    margin-left: 1em ;
    margin-right: 1em;
}  

aside ul li {
    list-style-type: none; /* Remove os bullets */
    margin-bottom: 1em; /* Espaçamento entre os itens */
    text-align: center; /* Centraliza os itens */
  }
  
footer {
    background-color: #f0ebeb; /* Fundo escuro para contraste */
    color: #080808; /* Fonte clara */
    margin: 4%; /* Espaçamento externo */
  }

.main footer a{
    border: solid 2px #0c0c0c; /* Borda branca */
    padding: 0.5em; /* Espaçamento interno */
    display: inline-block; /* Alinha horizontalmente */;

}
  
  

/* Definida a fonte */
p {
    font-family: Helvetica,sans-serif; /* Tipos de fonte */
    font-size: 16px; /* Tamanho da fonte */
    text-indent: 1em; /* Recuo da primeira linha */
    color: #000000; /* Cor do texto */
}


h1,h2,h3 {
    text-align: center;
}
h1 {
    font-size: 1.8rem; /* Tamanho da fonte Titulo h1*/
}

h2 {
    font-size: 1.4rem; /* Tamanho da fonte Titulo h2 */
}

h3 {
    font-size: 1.2rem; /* Tamanho da fonte Titulo h3 */
}

.sumary { text-align: center;}

.main.p{line-height: 1.5}

a {
    color: #111310; /*cor de destaque */
}

abbr {
    font-variant: small-caps;
}
